@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-dm-sans);
  --font-serif: var(--font-libre-caslon);

  --color-background: var(--background);
  --color-on-background: var(--on-background);
  --color-surface: var(--surface);
  --color-surface-container: var(--surface-container);
  --color-on-surface: var(--on-surface);
  --color-primary: var(--primary);
  --color-on-primary: var(--on-primary);
  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);
  --color-tertiary: var(--tertiary);
  --color-on-tertiary: var(--on-tertiary);
  --color-outline: var(--outline);

  --radius-sm: 0.125rem;
  --radius: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

:root {
  --background: #fbf9f6;
  --on-background: #1b1c1a;
  --surface: #fbf9f6;
  --surface-container: #f0edea;
  --on-surface: #1b1c1a;
  --primary: #506052;
  --on-primary: #ffffff;
  --secondary: #5e5e5d;
  --on-secondary: #ffffff;
  --tertiary: #5c5c59;
  --on-tertiary: #ffffff;
  --outline: #747872;
}

.dark {
  --background: #1b1c1a;
  --on-background: #fbf9f6;
  --surface: #1b1c1a;
  --surface-container: #30302f;
  --on-surface: #fbf9f6;
  --primary: #b9cbb9;
  --on-primary: #101f13;
  --secondary: #c7c6c5;
  --on-secondary: #1a1c1b;
  --tertiary: #c8c6c2;
  --on-tertiary: #1b1c1a;
  --outline: #c3c8c1;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--on-background);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.85) translateY(10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
.animate-pop-in {
  animation: popIn 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.2) forwards;
}
